header .container {
  display: flex;
  margin: 0 auto;
}

header .container a:not(:first-of-type) { margin: 0 20px;}

header .container .mrauto { margin-right: auto;}

.logo {
  max-width: var(--size-150);
}

nav .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: var(--size-10);
  margin-bottom: var(--size-20);
}

nav .container ul {
  display: flex;
  align-items: center;
  gap: var(--size-20);
  font-size: var(--size-16);
}

nav .container ul a.btn { padding: 10px 25px;}

.bg-grad {
  position: absolute;
  height: 850px;
  width: 100%;
  background-image: linear-gradient(120deg, var(--white) 10%, #eceff8 );
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 68%);
  z-index: -1;
}

.learn-more .container { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.learn-more .container .block-text h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 var(--size-20) 0;
}

.learn-more .container .block-text p {
  font-size: 1.5rem;
}

.learn-more .container .block-text a { font-size: 1.1rem;}

.learn-more .container .block-text a.btn { 
  font-size: 1.1rem;
  padding: .8rem 1.2rem;
  margin-right: 2rem;
  color: var(--white);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0px);
  }
}

.learn-more .container .iconField{ position: relative; padding: 0px;}

.learn-more .container .iconField .logo-container {
  width: 5.5rem;
  padding: 1.6rem;
  background-color: var(--white);
  border-radius: var(--size-100);
  box-shadow: 0px 3px 15px -3px #cecece;
}

.asana,
.atlassian,
.calendar,
.weave,
.google,
.ga,
.paypal {
  opacity: 0;
  position: absolute;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-name: fadeIn, slideIn;
}

.learn-more .container .iconField .asana {  
  right: 0; 
  top: -20px;
  animation-delay: 100ms;
}
.learn-more .container .iconField .atlassian {  
  right: 240px; 
  top: 0px;
  animation-delay: 200ms;
}
.learn-more .container .iconField .calendar {  
  right: 0; 
  bottom: -30px;
  animation-delay: 500ms;
}
.learn-more .container .iconField .weave {  
  right: 150px; 
  top: 170px;
  animation-delay: 300ms;
}
.learn-more .container .iconField .google {  
  right: 400px; 
  top: -40px; 
  padding: 1rem;
  width: 4.5rem;
}

.learn-more .container .iconField .ga {  
  right: 300px; 
  top: 290px;
  padding: 1rem;
  width: 4.2rem;
  animation-delay: 400ms;
}

.learn-more .container .iconField .paypal {  
  right: 390px; 
  top: 170px;
  animation-delay: 300ms;
}

.benefits .block-text {
  text-align: center;
  margin-bottom: var(--size-50);
}

.benefits .block-text h2 { 
  font-size: var(--size-40);
  color: var(--font-color-dark);
  font-weight: 600;
  margin-bottom: var(--size-16);
}

.benefits .block-text p {
  font-size: var(--size-16);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.card-container .benefit-card {
  box-shadow: 10px 10px 15px 2px #f1f1f1;
  padding: 1.5rem;
}

.card-container .benefit-card img {
  max-width: 4rem;
}

.get-started { background-color: #F8FAFE;}

.get-started .container {
  position: relative;
}

.get-started .container .block-text { max-width: 50%;}

.get-started .container .block-text a{
padding: 1rem 2rem;
}

.get-started .container .block-text h2 {
  font-size: 2rem;
  max-width: 25rem;
}

.get-started .container img{
  position: absolute;
  max-width: 60%;
  bottom: 0;
  right: 0;
  box-shadow: -10px -10px 20px 10px #f0f0f0;
}